{
  "openapi": "3.0.1",
  "info": {
    "title": "NLPearl Client API",
    "description": "A sample API that demonstrates features in the OpenAPI specification",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.nlpearl.ai",
      "description": "Production Environement"
    }
  ],
  "paths": {
    "/v1/Account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account",
        "description": "Retrieves account details",
        "responses": {
          "200": {
            "description": "Client information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientApiView"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Call/{callId}": {
      "get": {
        "tags": [
          "Call"
        ],
        "summary": "Get Call",
        "description": "Retrieves all the information about a call",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "description": "The unique identifier of the call to retrieve information for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client informations",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CallApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallApiView"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Call": {
      "delete": {
        "tags": [
          "Call"
        ],
        "summary": "Delete Calls",
        "description": "Deletes one or more calls",
        "requestBody": {
          "description": "The request object containing the list of call IDs to be deleted.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteCallsRequestApi"
                  }
                ],
                "description": "Represents the request object used to delete one or more calls."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteCallsRequestApi"
                  }
                ],
                "description": "Represents the request object used to delete one or more calls."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteCallsRequestApi"
                  }
                ],
                "description": "Represents the request object used to delete one or more calls."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a boolean indicating if the deletion was successful.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Inbound": {
      "get": {
        "tags": [
          "Inbound"
        ],
        "summary": "Get Inbounds",
        "description": "Retrieves all inbounds",
        "responses": {
          "200": {
            "description": "List of all inbound for the client.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InboundListApiView"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InboundListApiView"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InboundListApiView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Inbound/{inboundId}": {
      "get": {
        "tags": [
          "Inbound"
        ],
        "summary": "Get Inbound",
        "description": "Retrieves a specific inbound by its ID",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "description": "The unique identifier of the inbound.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specific inbound.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InboundApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundApiView"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Inbound/{inboundId}/OngoingCalls": {
      "get": {
        "tags": [
          "Inbound"
        ],
        "summary": "Get Inbound Ongoing Calls",
        "description": "Returns the number of active calls currently in progress and in queue for the specified inbound ID.",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "description": "The unique identifier of the inbound.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specific inbound.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OngoingCallsApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OngoingCallsApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OngoingCallsApiView"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Inbound/{inboundId}/Active": {
      "post": {
        "tags": [
          "Inbound"
        ],
        "summary": "Set Activity State",
        "description": "Run or Pause a specific inbound",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "description": "The unique identifier of the inbound.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request containing the desired active state.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SetActiveRequest"
                  }
                ],
                "description": "Defines the request structure for setting the active status of an entity."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SetActiveRequest"
                  }
                ],
                "description": "Defines the request structure for setting the active status of an entity."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SetActiveRequest"
                  }
                ],
                "description": "Defines the request structure for setting the active status of an entity."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The active state of the inbound.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/eActivityStatus"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eActivityStatus"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/eActivityStatus"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Inbound/{inboundId}/Calls": {
      "post": {
        "tags": [
          "Inbound"
        ],
        "summary": "Search Calls",
        "description": "Retrieves the calls within a specific date range of inbound",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "description": "The unique identifier of the inbound configuration.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search criteria including date range and sorting parameters.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CallsTableDateSearchApi"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CallsTableDateSearchApi"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CallsTableDateSearchApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calls within the specified date range for inbound.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Inbound/{inboundId}/Analytics": {
      "post": {
        "tags": [
          "Inbound"
        ],
        "summary": "Get Analytics",
        "description": "Retrieves analytics data for a specific inbound campaign within a given date range.",
        "parameters": [
          {
            "name": "inboundId",
            "in": "path",
            "description": "The unique identifier of the inbound campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing the start and end dates for the analytics query.  \r\nThe maximum allowed range between the start and end date is 90 days.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DateSearch"
                  }
                ],
                "description": "Represents a date range used to query analytics data."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DateSearch"
                  }
                ],
                "description": "Represents a date range used to query analytics data."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DateSearch"
                  }
                ],
                "description": "Represents a date range used to query analytics data."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an object containing the analytics data for the specified outbound campaign.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsInboundApi"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsInboundApi"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsInboundApi"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid. Possible causes include a missing or malformed outbound ID, or errors in the search parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound": {
      "get": {
        "tags": [
          "Outbound"
        ],
        "summary": "Get Outbounds",
        "description": "Retreive all the Outbounds",
        "responses": {
          "200": {
            "description": "A list of outbounds.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OutboundApiListView"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OutboundApiListView"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OutboundApiListView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}": {
      "get": {
        "tags": [
          "Outbound"
        ],
        "summary": "Get Outbound",
        "description": "Retrieve a specific outbound by its ID",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed view of a specific outbound.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundApiView"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Active": {
      "post": {
        "tags": [
          "Outbound"
        ],
        "summary": "Set Activity State",
        "description": "Activates or deactivates a specified outbound",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound.\\n\\nRetreive it in [Get outbound](api-reference/outbound/get-outbounds)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request containing the activation state.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SetActiveRequest"
                  }
                ],
                "description": "Defines the request structure for setting the active status of an entity."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SetActiveRequest"
                  }
                ],
                "description": "Defines the request structure for setting the active status of an entity."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SetActiveRequest"
                  }
                ],
                "description": "Defines the request structure for setting the active status of an entity."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The active state of the outbound.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/eActivityStatus"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eActivityStatus"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/eActivityStatus"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Calls": {
      "post": {
        "tags": [
          "Outbound"
        ],
        "summary": "Search Calls",
        "description": "Retrieves the calls within a specific date range for a given outbound",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The outbound's unique identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search criteria including date range and sorting parameters.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CallsTableDateSearchApi"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CallsTableDateSearchApi"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CallsTableDateSearchApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calls within the specified date range for the outbound.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Lead": {
      "put": {
        "tags": [
          "Outbound"
        ],
        "summary": "Add Lead",
        "description": "Adds a new lead to a specified outbound",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign to which the lead will be added.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The lead details to be added to the outbound campaign.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadToAddApi"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadToAddApi"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadToAddApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Id of the added lead.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeadToAddResponseApi"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadToAddResponseApi"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadToAddResponseApi"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Lead/{leadId}": {
      "put": {
        "tags": [
          "Outbound"
        ],
        "summary": "Update Lead",
        "description": "Updates the details of an existing lead associated with a specific outbound campaign.",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "path",
            "description": "The unique identifier of the lead to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated lead information.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadToUpdateApi"
                  }
                ],
                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadToUpdateApi"
                  }
                ],
                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadToUpdateApi"
                  }
                ],
                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated lead is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid or the data is malformed.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Outbound"
        ],
        "summary": "Get Lead",
        "description": "Retrieves details of a specific lead within a outbound",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "path",
            "description": "The unique identifier of the lead within the outbound campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specific lead.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Leads": {
      "post": {
        "tags": [
          "Outbound"
        ],
        "summary": "Search Leads",
        "description": "Retrieves the leads associated with a specific outbound",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search criteria for the leads.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadSearch"
                  }
                ],
                "description": "Extends TableSearch to include specific search criteria for leads."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadSearch"
                  }
                ],
                "description": "Extends TableSearch to include specific search criteria for leads."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadSearch"
                  }
                ],
                "description": "Extends TableSearch to include specific search criteria for leads."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of leads for the outbound.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Outbound"
        ],
        "summary": "Delete Leads",
        "description": "Deletes one or more leads associated with a specific outbound campaign.",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign from which the leads should be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request object containing the list of lead IDs to be deleted.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                  }
                ],
                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                  }
                ],
                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                  }
                ],
                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a boolean indicating if the deletion was successful.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Lead/External/{externalId}": {
      "get": {
        "tags": [
          "Outbound"
        ],
        "summary": "Get Lead via External ID",
        "description": "Retrieves details of a specific lead within an outbound",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "The external identifier of the lead within the outbound campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specific lead.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Lead/PhoneNumber/{phoneNumber}": {
      "get": {
        "tags": [
          "Outbound"
        ],
        "summary": "Get Lead via Phone Number",
        "description": "Retrieves details of a specific lead within an outbound via phone number",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "path",
            "description": "The phone number of the lead to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specific lead.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadApiView"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Leads/External": {
      "delete": {
        "tags": [
          "Outbound"
        ],
        "summary": "Delete leads Via External",
        "description": "Deletes one or more leads associated with a specific outbound campaign.",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign from which the leads should be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request object containing the list of external lead IDs to be deleted.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                  }
                ],
                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                  }
                ],
                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                  }
                ],
                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a boolean indicating if the deletion was successful.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Call": {
      "post": {
        "tags": [
          "Outbound"
        ],
        "summary": "Make Call",
        "description": "Initiates an outbound phone call associated with the specified outbound ID. The request body must contain the necessary details for making the call. Once initiated, the call will be routed to the first available agent.",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign for which the call is being initiated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The details required to make the outbound phone call, encapsulated in an NLPearl.Core.Models.OutboundMakeCallRequest object.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OutboundMakeCallRequest"
                  }
                ],
                "description": "Defines the request structure for making an outbound call."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OutboundMakeCallRequest"
                  }
                ],
                "description": "Defines the request structure for making an outbound call."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OutboundMakeCallRequest"
                  }
                ],
                "description": "Defines the request structure for making an outbound call."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The outbound phone call was successfully initiated and the active state is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundMakeCallResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundMakeCallResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundMakeCallResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid. Possible causes include a missing or malformed outbound ID, or errors in the call request details.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/CallRequest/{requestId}": {
      "get": {
        "tags": [
          "Outbound"
        ],
        "summary": "Get Call Request",
        "description": "Fetches detailed information about a specific API request identified by its unique requestId.",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The unique identifier of the API request to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the API request were successfully retrieved.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRequestView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRequestView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRequestView"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid. Possible causes include a missing or malformed requestId.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/CallRequest": {
      "post": {
        "tags": [
          "Outbound"
        ],
        "summary": "Search Call Requests",
        "description": "Fetches a list of API call requests associated with a specific outbound identifier. The search criteria, such as filters or pagination options, should be provided in the request body.",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign for which the API call requests are being retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search criteria, including filters or pagination options, provided in the request body.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TableDateSearch"
                  }
                ],
                "description": "Extends TableSearch to include date filtering for more specific searches."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TableDateSearch"
                  }
                ],
                "description": "Extends TableSearch to include date filtering for more specific searches."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TableDateSearch"
                  }
                ],
                "description": "Extends TableSearch to include date filtering for more specific searches."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of API call requests related to the specified outbound ID was successfully retrieved.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRequestViewTableSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRequestViewTableSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRequestViewTableSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid. Possible causes include a missing or malformed outbound ID, or errors in the search parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Outbound/{outboundId}/Analytics": {
      "post": {
        "tags": [
          "Outbound"
        ],
        "summary": "Get Analytics",
        "description": "Retrieves analytics data for a specific outbound campaign within a given date range.",
        "parameters": [
          {
            "name": "outboundId",
            "in": "path",
            "description": "The unique identifier of the outbound campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing the start and end dates for the analytics query.  \r\nThe maximum allowed range between the start and end date is 90 days.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DateSearch"
                  }
                ],
                "description": "Represents a date range used to query analytics data."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DateSearch"
                  }
                ],
                "description": "Represents a date range used to query analytics data."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DateSearch"
                  }
                ],
                "description": "Represents a date range used to query analytics data."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an object containing the analytics data for the specified outbound campaign.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsOutboundApi"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsOutboundApi"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsOutboundApi"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid. Possible causes include a missing or malformed outbound ID, or errors in the search parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Pearl/{pearlId}/Memory/{phoneNumber}/Reset": {
      "put": {
        "tags": [
          "Pearl"
        ],
        "summary": "Reset Customer Memory",
        "description": "Resets stored memory associated with a specific customer's phone number for a given Pearl.",
        "parameters": [
          {
            "name": "pearlId",
            "in": "path",
            "description": "The unique identifier of the Pearl whose memory should be reset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "path",
            "description": "The phone number associated with the customer whose memory should be reset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memory reset successful.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentChatMessageApiView": {
        "type": "object",
        "properties": {
          "role": {
            "enum": [
              2,
              3
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eChatMessageRoleView"
              }
            ],
            "description": "`2 - Pearl`\n\n`3 - Client`\n\n"
          },
          "content": {
            "type": "string",
            "description": "The content of the message",
            "nullable": true
          },
          "startTime": {
            "type": "number",
            "description": "The moment the message starts",
            "format": "float",
            "nullable": true
          },
          "endTime": {
            "type": "number",
            "description": "The moment the message ends",
            "format": "float",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AnalyticsInboundApi": {
        "type": "object",
        "properties": {
          "callsStatusOverview": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CallsStatusAnalyticsOverview"
              }
            ],
            "description": "Overview of call statuses (e.g. success, failed, no answer).",
            "nullable": true
          },
          "callsSentimentOverview": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CallsSentimentOverview"
              }
            ],
            "description": "Overview of sentiment analysis results for the client during calls. ",
            "nullable": true
          },
          "callsStatusTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsStatusTimeLine"
            },
            "description": "Timeline showing the distribution of call statuses over time.",
            "nullable": true
          },
          "callsAverageTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsAverageTimeLine"
            },
            "description": "Timeline showing average call durations over time.",
            "nullable": true
          },
          "callsCostTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsCostTimeLine"
            },
            "description": "Timeline showing call costs over time.",
            "nullable": true
          },
          "callsSuccessRateTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsSuccessRateTimeLine"
            },
            "description": "Timeline showing success rate trends over time.",
            "nullable": true
          },
          "callLabelCount": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallLabelCount"
            },
            "description": "Count of labels applied to calls.",
            "nullable": true
          },
          "callEventsCounts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CallEventsCount"
              }
            ],
            "description": "Summary of events that occurred during calls.",
            "nullable": true
          },
          "callsByHourDayOfWeeks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsByHourDayOfWeek"
            },
            "description": "Breakdown of calls by hour and day of the week.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the analytics data for an inbound campaign."
      },
      "AnalyticsOutboundApi": {
        "type": "object",
        "properties": {
          "callsStatusOverview": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CallsStatusAnalyticsOverview"
              }
            ],
            "description": "Overview of call statuses (e.g. success, failed, no answer).",
            "nullable": true
          },
          "callsSentimentOverview": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CallsSentimentOverview"
              }
            ],
            "description": "Overview of sentiment analysis results for the client during calls. ",
            "nullable": true
          },
          "callsStatusTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsStatusTimeLine"
            },
            "description": "Timeline showing the distribution of call statuses over time.",
            "nullable": true
          },
          "callsAverageTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsAverageTimeLine"
            },
            "description": "Timeline showing average call durations over time.",
            "nullable": true
          },
          "callsCostTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsCostTimeLine"
            },
            "description": "Timeline showing call costs over time.",
            "nullable": true
          },
          "callsPickupRateTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsPickupRateTimeLine"
            },
            "description": "Timeline showing pickup rate trends over time.",
            "nullable": true
          },
          "callsSuccessRateTimeLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsSuccessRateTimeLine"
            },
            "description": "Timeline showing success rate trends over time.",
            "nullable": true
          },
          "callLabelCount": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallLabelCount"
            },
            "description": "Count of labels applied to calls.",
            "nullable": true
          },
          "callEventsCounts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CallEventsCount"
              }
            ],
            "description": "Summary of events that occurred during calls.",
            "nullable": true
          },
          "callsByHourDayOfWeeks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsByHourDayOfWeek"
            },
            "description": "Breakdown of calls by hour and day of the week.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the analytics data for an outbound campaign."
      },
      "ApiRequestView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the API request.",
            "nullable": true
          },
          "status": {
            "enum": [
              1,
              2,
              10,
              20,
              100
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eApiRequestStatus"
              }
            ],
            "description": "`1 - InCallQueue`\n\n`2 - OnCall`\n\n`10 - Completed`\n\n`20 - BlackListed`\n\n`100 - Error`\n\n"
          },
          "outboundId": {
            "type": "string",
            "description": "The unique identifier of the outbound campaign associated with this API request.",
            "nullable": true
          },
          "created": {
            "type": "string",
            "description": "The date and time when the API request was created.",
            "format": "date-time"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of errors that occurred during the API request, if any.",
            "nullable": true
          },
          "callId": {
            "type": "string",
            "description": "The unique identifier of the call associated with this API request, if available.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApiRequestViewTableSearchResult": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of items matching the search criteria.",
            "format": "int64"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiRequestView"
            },
            "description": "The list of results for the current page, based on the search criteria.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CallApiView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the call.",
            "nullable": true
          },
          "pearlId": {
            "type": "string",
            "description": "The unique identifier of the Pearl (API v2).",
            "nullable": true
          },
          "relatedId": {
            "type": "string",
            "description": "The unique identifier of the inbound/outbound (API v1).",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "nullable": true
          },
          "startTime": {
            "type": "string",
            "description": "The date and time when the call processing started.",
            "format": "date-time",
            "nullable": true
          },
          "conversationStatus": {
            "enum": [
              10,
              20,
              40,
              70,
              100,
              110,
              130,
              150,
              220,
              300,
              500
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eConversationStatusView"
              }
            ],
            "description": "The outcome of the conversation during the call.\n\nTo determine the definition of 'Success' or 'Not Successful,' please refer to the [Create a Pearl](/pages/create_pearl#pearl-name) page at step 4.\n\n`10 - NeedRetry`\n\n`20 - InCallQueue`\n\n`40 - OnCall`\n\n`70 - VoiceMailLeft`\n\n`100 - Success`\n\n`110 - NotSuccessful`\n\n`130 - Completed`\n\n`150 - Unreachable`\n\n`220 - Blacklisted`\n\n`300 - QueueAbandon`\n\n`500 - Error`\n\n"
          },
          "status": {
            "enum": [
              3,
              4,
              5,
              6,
              7,
              8
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eCallStatusView"
              }
            ],
            "description": "Represents the current status of a call.\n\n`3 - InProgress`\n\n`4 - Completed`\n\n`5 - Busy`\n\n`6 - Failed`\n\n`7 - NoAnswer`\n\n`8 - Canceled`\n\n"
          },
          "from": {
            "type": "string",
            "description": "The phone number from which the call was made.",
            "nullable": true
          },
          "to": {
            "type": "string",
            "description": "The phone number to which the call was made.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The name associated with the call, if available.",
            "nullable": true
          },
          "duration": {
            "type": "integer",
            "description": "The duration of the call in seconds.",
            "format": "int32"
          },
          "recording": {
            "type": "string",
            "description": "The URL of the recording of the call, if available.",
            "nullable": true
          },
          "transcript": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentChatMessageApiView"
            },
            "description": "The transcript of the conversation, represented as a list of chat messages.",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "description": "A summary of the conversation.",
            "nullable": true
          },
          "collectedInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectedInfoView"
            },
            "description": "A List containing information collected during the call.",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The tags or labels triggered during the conversation",
            "nullable": true
          },
          "isCallTransferred": {
            "type": "boolean",
            "description": "Indicates whether the call was transferred to a human or another endpoint."
          },
          "overallSentiment": {
            "enum": [
              1,
              2,
              3,
              4,
              5
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eOverallSentiment"
              }
            ],
            "description": "Represents the overall emotional tone detected from the client during the conversation.\n\n`1 - Negative`\n\n`2 - SlightlyNegative`\n\n`3 - Neutral`\n\n`4 - SlightlyPositive`\n\n`5 - Positive`\n\n",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CallCollectedDataApiView": {
        "type": "object",
        "properties": {
          "transcript": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentChatMessageApiView"
            },
            "description": "The transcript of the conversation.",
            "nullable": true
          },
          "collectedInfos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectedInfoView"
            },
            "description": "The information collected during the conversations.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CallEventsCount": {
        "type": "object",
        "properties": {
          "takeMessageCount": {
            "type": "integer",
            "format": "int32"
          },
          "smsSentCount": {
            "type": "integer",
            "format": "int32"
          },
          "callTransferredCount": {
            "type": "integer",
            "format": "int32"
          },
          "calendarBookedCount": {
            "type": "integer",
            "format": "int32"
          },
          "emailSentCount": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "Summary of events that occurred during calls."
      },
      "CallLabelCount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CallListApiView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the call.",
            "nullable": true
          },
          "startTime": {
            "type": "string",
            "description": "The date and time when the call processing started.",
            "format": "date-time",
            "nullable": true
          },
          "conversationStatus": {
            "enum": [
              10,
              20,
              40,
              70,
              100,
              110,
              130,
              150,
              220,
              300,
              500
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eConversationStatusView"
              }
            ],
            "description": "The outcome of the conversation during the call.\n\nTo determine the definition of 'Success' or 'Not Successful,' please refer to the [Create a Pearl](/pages/create_pearl#pearl-name) page at step 4.\n\n`10 - NeedRetry`\n\n`20 - InCallQueue`\n\n`40 - OnCall`\n\n`70 - VoiceMailLeft`\n\n`100 - Success`\n\n`110 - NotSuccessful`\n\n`130 - Completed`\n\n`150 - Unreachable`\n\n`220 - Blacklisted`\n\n`300 - QueueAbandon`\n\n`500 - Error`\n\n"
          },
          "status": {
            "enum": [
              3,
              4,
              5,
              6,
              7,
              8
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eCallStatusView"
              }
            ],
            "description": "Represents the current status of a call.\n\n`3 - InProgress`\n\n`4 - Completed`\n\n`5 - Busy`\n\n`6 - Failed`\n\n`7 - NoAnswer`\n\n`8 - Canceled`\n\n"
          },
          "from": {
            "type": "string",
            "description": "The phone number from which the call was made.",
            "nullable": true
          },
          "to": {
            "type": "string",
            "description": "The phone number to which the call was made.",
            "nullable": true
          },
          "duration": {
            "type": "integer",
            "description": "The duration of the call in seconds.",
            "format": "int32"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The tags or labels triggered during the conversation",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CallListApiViewTableSearchResult": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of items matching the search criteria.",
            "format": "int64"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallListApiView"
            },
            "description": "The list of results for the current page, based on the search criteria.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CallsAverageTimeLine": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "averageCallDuration": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "CallsByHourDayOfWeek": {
        "type": "object",
        "properties": {
          "hourOfDay": {
            "type": "integer",
            "format": "int32"
          },
          "dayOfWeek": {
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/DayOfWeek"
              }
            ],
            "description": "`0 - Sunday`\n\n`1 - Monday`\n\n`2 - Tuesday`\n\n`3 - Wednesday`\n\n`4 - Thursday`\n\n`5 - Friday`\n\n`6 - Saturday`\n\n"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CallsCostTimeLine": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "totalPrice": {
            "type": "number",
            "format": "double"
          },
          "averageCostPerCall": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "CallsPickupRateTimeLine": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "pickupRatePercentage": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "CallsSentimentOverview": {
        "type": "object",
        "properties": {
          "negative": {
            "type": "integer",
            "format": "int32"
          },
          "slightlyNegative": {
            "type": "integer",
            "format": "int32"
          },
          "neutral": {
            "type": "integer",
            "format": "int32"
          },
          "slightlyPositive": {
            "type": "integer",
            "format": "int32"
          },
          "positive": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "Overview of sentiment analysis results for the client during calls. "
      },
      "CallsStatusAnalyticsOverview": {
        "type": "object",
        "properties": {
          "totalCalls": {
            "type": "integer",
            "format": "int32"
          },
          "totalLeads": {
            "type": "integer",
            "format": "int32"
          },
          "needRetry": {
            "type": "integer",
            "format": "int32"
          },
          "wrongCountryCode": {
            "type": "integer",
            "format": "int32"
          },
          "needFollowUp": {
            "type": "integer",
            "format": "int32"
          },
          "voiceMailLeft": {
            "type": "integer",
            "format": "int32"
          },
          "successful": {
            "type": "integer",
            "format": "int32"
          },
          "unsuccessful": {
            "type": "integer",
            "format": "int32"
          },
          "wrongNumber": {
            "type": "integer",
            "format": "int32"
          },
          "completed": {
            "type": "integer",
            "format": "int32"
          },
          "unreachable": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "Overview of call statuses (e.g. success, failed, no answer)."
      },
      "CallsStatusTimeLine": {
        "type": "object",
        "properties": {
          "totalCalls": {
            "type": "integer",
            "format": "int32"
          },
          "totalLeads": {
            "type": "integer",
            "format": "int32"
          },
          "needRetry": {
            "type": "integer",
            "format": "int32"
          },
          "wrongCountryCode": {
            "type": "integer",
            "format": "int32"
          },
          "needFollowUp": {
            "type": "integer",
            "format": "int32"
          },
          "voiceMailLeft": {
            "type": "integer",
            "format": "int32"
          },
          "successful": {
            "type": "integer",
            "format": "int32"
          },
          "unsuccessful": {
            "type": "integer",
            "format": "int32"
          },
          "wrongNumber": {
            "type": "integer",
            "format": "int32"
          },
          "completed": {
            "type": "integer",
            "format": "int32"
          },
          "unreachable": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "Overview of call statuses (e.g. success, failed, no answer)."
      },
      "CallsSuccessRateTimeLine": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "successRatePercentage": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "CallsTableDateSearchApi": {
        "required": [
          "fromDate",
          "toDate"
        ],
        "type": "object",
        "properties": {
          "skip": {
            "type": "integer",
            "description": "Number of entries to skip for pagination.",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "description": "Limit on the number of entries to return.",
            "format": "int32"
          },
          "sortProp": {
            "type": "string",
            "description": "Property name to sort by.",
            "nullable": true
          },
          "isAscending": {
            "type": "boolean",
            "description": "Whether the sort order is ascending."
          },
          "fromDate": {
            "type": "string",
            "description": "The start date for filtering the search results.",
            "format": "date-time"
          },
          "toDate": {
            "type": "string",
            "description": "The end date for filtering the search results.",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tags to filter by.",
            "nullable": true
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eLeadStatusView"
            },
            "description": "List of Status to filter by.\n\n\n`1 - New`\n\n`10 - NeedRetry`\n\n`20 - InCallQueue`\n\n`30 - WrongCountryCode`\n\n`40 - OnCall`\n\n`70 - VoiceMailLeft`\n\n`100 - Success`\n\n`110 - NotSuccessful`\n\n`130 - Completed`\n\n`150 - Unreachable`\n\n`220 - Blacklisted`\n\n`300 - QueueAbandon`\n\n`500 - Error`\n",
            "nullable": true
          },
          "searchInput": {
            "type": "string",
            "description": "Text to filter by.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ClientApiView": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the client.",
            "nullable": true
          },
          "totalAgents": {
            "type": "integer",
            "description": "The total number of agents.",
            "format": "int32"
          },
          "creditBalance": {
            "type": "number",
            "description": "The current credit balance.",
            "format": "double"
          },
          "status": {
            "enum": [
              1,
              2,
              3,
              4,
              5
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eCallAuthorizationStatus"
              }
            ],
            "description": "Represents the authorization status for making calls.\n\n`1 - FullAccess`\n\n`2 - LimitedAccess`\n\n`3 - NoCredits`\n\n`4 - SuspendedAccount`\n\n`5 - DebtReached`\n\n"
          }
        },
        "additionalProperties": false
      },
      "CollectedInfoView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the variable collected",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The display name of the variable collected.",
            "nullable": true
          },
          "value": {
            "description": "The value of the variable collected.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DateSearch": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "The start date of the query range (inclusive).",
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "description": "The end date of the query range (inclusive).  \r\nMust not be more than 90 days after the `From` date.",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "Represents a date range used to query analytics data."
      },
      "DayOfWeek": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "description": "`0 - Sunday`\n\n`1 - Monday`\n\n`2 - Tuesday`\n\n`3 - Wednesday`\n\n`4 - Thursday`\n\n`5 - Friday`\n\n`6 - Saturday`\n\n",
        "format": "int32"
      },
      "DeleteCallsRequestApi": {
        "type": "object",
        "properties": {
          "callIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of unique call IDs to delete.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the request object used to delete one or more calls."
      },
      "DeleteLeadsRequestApi": {
        "type": "object",
        "properties": {
          "leadIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of lead IDs to be deleted.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
      },
      "DeleteLeadsbyExternalRequestApi": {
        "type": "object",
        "properties": {
          "leadExternalIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of external lead IDs to be deleted.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
      },
      "InboundApiView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the inbound activity.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The name of the inbound activity.",
            "nullable": true
          },
          "status": {
            "enum": [
              1,
              2,
              3,
              10
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/eActivityStatus"
              }
            ],
            "description": "Here is the activity status\n\n`1 - Running`\n\n`2 - Paused`\n\n`3 - Suspended`\n\n`10 - TemporaryMaintenance`\n\n"
          },
          "pearlName": {
            "type": "string",
            "description": "The name of the Pearl associated with this inbound activity.",
            "nullable": true
          },
          "totalAgents": {
            "type": "integer",
            "description": "The total number of agents allocated to this inbound activity.",
            "format": "int32"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The phone number associated with this inbound activity.",
            "nullable": true
          },
          "totalTodayCalls": {
            "type": "integer",
            "description": "The total number of calls received today.",
            "format": "int32"
          },
          "totalOngoingCalls": {
            "type": "integer",
            "description": "The total number of ongoing calls.",
            "format": "int32"
          },
          "totalOnQueue": {
            "type": "integer",
            "description": "The total number of calls currently in the queue.",
            "format": "int32"
          },
          "created": {
            "type": "string",
            "description": "The date and time when the inbound activity was created.",
            "format": "date-time"
          },
          "creditUsed": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "InboundListApiView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the inboundy.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The name of the inbound.",
            "nullable": true
          },
          "totalAgents": {
            "type": "integer",
            "description": "The total number of agents allocated to this inbound.",
            "format": "int32"
          },
          "status": {
            "enum": [
              1,
              2,
              3,
              10
            ],
            "allOf": [
              {
[...]
