{
    "openapi": "3.0.1",
    "info": {
        "title": "NLPearl Client API",
        "description": "A sample API that demonstrates features in the OpenAPI specification",
        "version": "v2"
    },
    "servers": [
        {
            "url": "https://api.nlpearl.ai",
            "description": "Production Environement"
        }
    ],
    "paths": {
        "/v2/Account": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Account",
                "description": "Retrieves account details",
                "responses": {
                    "200": {
                        "description": "Account Information",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/Users": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Users",
                "description": "Retrieves the list of users for the account",
                "responses": {
                    "200": {
                        "description": "users list",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserListViewApi"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserListViewApi"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserListViewApi"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/PhoneNumbers": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Phone Numbers",
                "description": "Retrieves all active phone numbers of the account.",
                "responses": {
                    "200": {
                        "description": "The list of active phone numbers for the account.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ClientPhoneNumberViewApi"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ClientPhoneNumberViewApi"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ClientPhoneNumberViewApi"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/Voices": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Voices",
                "description": "Retrieves the available voices grouped by language.",
                "responses": {
                    "200": {
                        "description": "The list of available voices grouped by language.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LanguageVoicesViewApi"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LanguageVoicesViewApi"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LanguageVoicesViewApi"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Call/{callId}": {
            "get": {
                "tags": [
                    "Call"
                ],
                "summary": "Get Call",
                "description": "Retrieves all the information about a call",
                "parameters": [
                    {
                        "name": "callId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Call information",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Call": {
            "delete": {
                "tags": [
                    "Call"
                ],
                "summary": "Delete Calls",
                "description": "Deletes one or more calls",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteCallsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object used to delete one or more calls."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteCallsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object used to delete one or more calls."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteCallsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object used to delete one or more calls."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a boolean indicating if the deletion was successful.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Lead": {
            "post": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Add Lead",
                "description": "Adds a new lead to a specified outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToAddApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToAddApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToAddApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Id of the added lead.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadToAddResponseApi"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadToAddResponseApi"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadToAddResponseApi"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Lead/{leadId}": {
            "put": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Update Lead",
                "description": "Updates the details of an existing lead associated with a specific outbound campaign.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "leadId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToUpdateApi"
                                    }
                                ],
                                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToUpdateApi"
                                    }
                                ],
                                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToUpdateApi"
                                    }
                                ],
                                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated lead is returned.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request is invalid or the data is malformed.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Get Lead",
                "description": "Retrieves details of a specific lead within a outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "leadId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific lead.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Leads": {
            "post": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Search Leads",
                "description": "Retrieves the leads associated with a specific outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadSearch"
                                    }
                                ],
                                "description": "Extends TableSearch to include specific search criteria for leads."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadSearch"
                                    }
                                ],
                                "description": "Extends TableSearch to include specific search criteria for leads."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadSearch"
                                    }
                                ],
                                "description": "Extends TableSearch to include specific search criteria for leads."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of leads for the outbound.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Delete Leads",
                "description": "Deletes one or more leads associated with a specific outbound campaign.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a boolean indicating if the deletion was successful.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Lead/External/{externalId}": {
            "get": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Get Lead Via External ID",
                "description": "Retrieves details of a specific lead within an outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific lead.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Lead/PhoneNumber/{phoneNumber}": {
            "get": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Find Lead Via Phone Number",
                "description": "Retrieves details of a specific lead within an outbound via phone number",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific lead.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Leads/External": {
            "delete": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Delete leads Via External",
                "description": "Deletes one or more leads associated with a specific outbound campaign.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a boolean indicating if the deletion was successful.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl": {
            "get": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Pearls",
                "description": "Retrieves all Pearls",
                "responses": {
                    "200": {
                        "description": "List of all the pearls for the client.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ProjectListApiView"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ProjectListApiView"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ProjectListApiView"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Create Pearl",
                "description": "Creates a new Pearl",
                "requestBody": {
                    "description": "The Pearl flow configuration to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddProjectApiRequest"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddProjectApiRequest"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddProjectApiRequest"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The ID of the newly created Pearl.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}": {
            "get": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Pearl",
                "description": "Retrieves a specific Pearl by its ID",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific Pearl.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Update Pearl",
                "description": "Updates the settings for the specified Pearl.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "description": "The unique identifier of the Pearl.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The updated Pearl flow configuration.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/UpdateProjectApiRequest"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/UpdateProjectApiRequest"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/UpdateProjectApiRequest"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The Pearl flow was updated successfully.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Active": {
            "put": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Set Activity State",
                "description": "Run or Pause a specific Pearl",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/SetActiveRequest"
                                    }
                                ],
                                "description": "Defines the request structure for setting the active status of an entity."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/SetActiveRequest"
                                    }
                                ],
                                "description": "Defines the request structure for setting the active status of an entity."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/SetActiveRequest"
                                    }
                                ],
                                "description": "Defines the request structure for setting the active status of an entity."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The active state of the Pearl.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/eActivityStatus"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/eActivityStatus"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/eActivityStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Calls": {
            "post": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Calls",
                "description": "Retrieves the calls within a specific date range of a pearl",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsTableDateSearchApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsTableDateSearchApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsTableDateSearchApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calls within the specified date range for inbound.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/OngoingCalls": {
            "get": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Ongoing Calls",
                "description": "Returns the number of active calls currently in progress for the specified Pearl. If the Pearl has inbound configurations, it also returns the number of calls currently in queue.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific inbound.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OngoingCallsApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OngoingCallsApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OngoingCallsApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Analytics": {
            "post": {
                "tags": [
                    "Pearl"
                ],
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DateSearch"
                                    }
                                ],
                                "description": "Represents a date range used to query analytics data."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DateSearch"
                                    }
                                ],
                                "description": "Represents a date range used to query analytics data."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DateSearch"
                                    }
                                ],
                                "description": "Represents a date range used to query analytics data."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns an object containing the analytics data for the specified outbound campaign.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsApi"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsApi"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsApi"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was invalid. Possible causes include a missing or malformed outbound ID, or errors in the search parameters.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/ResetMemory": {
            "put": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Reset Customer Memory",
                "description": "Resets stored memory associated with a specific customer's phone number for a given Pearl.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ResetMemoryRequest"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ResetMemoryRequest"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ResetMemoryRequest"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Memory reset successful.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input parameters.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An internal server error occurred."
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Settings": {
            "get": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Pearl Settings",
                "description": "Retrieves the Settings for the specified Pearl. The Pearl and Variables sections in the response are populated only if the Pearl was created via the API. If the Pearl was created through the platform interface, these fields will be returned empty.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "description": "The unique identifier of the Pearl.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The settings for the specified Pearl.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectFlowApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectFlowApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectFlowApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Settings/Outbound": {
            "put": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Update Outbound Settings",
                "description": "Updates the outbound settings for the specified Pearl.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "description": "The unique identifier of the Pearl.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The outbound settings to apply.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/OutboundSettingsApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/OutboundSettingsApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/OutboundSettingsApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Outbound settings updated successfully.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request is invalid or the data is malformed.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Settings/Inbound": {
            "put": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Update Inbound Settings",
                "description": "Updates the inbound settings for the specified Pearl.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "description": "The unique identifier of the Pearl.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The inbound settings to apply.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/InboundSettingsApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/InboundSettingsApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/InboundSettingsApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Inbound settings updated successfully.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request is invalid or the data is malformed.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "APIDataSchemaPropertyApi": {
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string",
                        "description": "The request body field name (JSON key).\r\n            \r\nMax 255 characters only.",
                        "nullable": true
                    },
                    "variableId": {
                        "type": "string",
                        "description": "The variable ID to send as the value for this field (without curly braces).\r\n            \r\nConstraints:\r\n- If VariableId is provided, Type and Value must be null/empty.",
                        "nullable": true
                    },
                    "type": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/eStateDataType"
                            }
                        ],
                        "description": "`1 - String`\n\n`2 - Long`\n\n`3 - Double`\n\n`4 - Boolean`\n\n`5 - DateOnly`\n\n`6 - TimeOnly`\n\n`7 - DateTime`\n\n",
                        "nullable": true
                    },
                    "value": {
                        "type": "string",
                        "description": "`🧩 May support variables`\r\n            \r\nThe static value to send for this field.\r\n            \r\nConstraints:\r\n- Max 255 characters.\r\n- Must be provided together with Type when VariableId is not provided.\r\n- Must not be provided when VariableId is provided.\r\n- When Type is String, the value may include variables using curly braces.",
                        "nullable": true
                    },
                    "required": {
                        "type": "boolean",
                        "description": "Indicates whether this request body field is required."
                    }
                },
                "additionalProperties": false
            },
            "APIMethod": {
                "type": "integer",
                "description": "`1 - GET`\n\n`2 - POST`\n\n`3 - PUT`\n\n`4 - DELETE`\n\n`5 - PATCH`\n\n",
                "format": "int32"
            },
            "APISettingsApi": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "A friendly name for this API action.\r\n            \r\nMax 50 characters only.",
                        "nullable": true
                    },
                    "method": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/APIMethod"
                            }
                        ],
                        "description": "`1 - GET`\n\n`2 - POST`\n\n`3 - PUT`\n\n`4 - DELETE`\n\n`5 - PATCH`\n\n"
                    },
                    "endpointUrl": {
                        "type": "string",
                        "description": "`🧩 May support variables`\r\n            \r\nThe endpoint URL to call.\r\n            \r\nMax 4,000 characters only.\r\n            \r\nVariables support depends on when this API action is executed:\r\n- Pre-call: pre-call variables only.\r\n- In-call: pre-call and in-call variables.\r\n- End-call: pre-call, in-call, and post-call variables.",
                        "nullable": true
                    },
                    "body": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/APIDataSchemaPropertyApi"
                        },
                        "description": "Request body definition (key/value pairs) for this API call.\r\n            \r\nConstraints:\r\n- Only applicable for POST, PUT, or PATCH.\r\n- Must be empty for GET, DELETE (and any method that does not send a body).",
                        "nullable": true
                    },
                    "headers": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Optional HTTP headers to include in the API request.",
                        "nullable": true
                    },
                    "triggerDescription": {
                        "type": "string",
                        "description": "Describes when this API action should be triggered.\r\n            \r\nMax 1,000 characters only.",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AddProjectApiRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "The name of the Pearl.",
                        "nullable": true
                    },
                    "pearl": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/PearlSettingsApi"
                            }
                        ],
                        "description": "Conversation flow and agent behavior configuration for the Pearl.",
                        "nullable": true
                    },
                    "variables": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DataSettingsApi"
                        },
                        "description": "Variables that can be defined, stored, and used by the agent during conversations.\r\nFor details on variable groups and how to use variables in supported fields, see: [Flow Variables](/api-reference/flow_variables)",
                        "nullable": true
                    },
                    "inbound": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/InboundSettingsApi"
                            }
                        ],
                        "description": "Inbound settings for the Pearl. Required when creating an inbound Pearl. Must not be provided together with Outbound.",
                        "nullable": true
                    },
                    "outbound": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OutboundSettingsApi"
                            }
                        ],
                        "description": "Outbound settings for the Pearl. Required when creating an outbound Pearl. Must not be provided together with Inbound.",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AgentChatMessageApiView": {
                "type": "object",
                "properties": {
                    "role": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/eChatMessageRoleView"
                            }
                        ],
                        "description": "`2 - Pearl`\n\n`3 - Client`\n\n"
                    },
                    "content": {
                        "type": "string",
                        "description": "The content of the message",
                        "nullable": true
                    },
                    "startTime": {
                        "type": "number",
                        "description": "The moment the message starts",
                        "format": "float",
                        "nullable": true
                    },
                    "endTime": {
                        "type": "number",
                        "description": "The moment the message ends",
                        "format": "float",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AgentConfigToAddApi": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "The display name of the agent.\n\nConstraints:\n- Max length: 50 characters.",
                        "nullable": true
                    },
                    "voiceId": {
                        "type": "string",
                        "description": "The ID of the voice to use for this agent.\r\nTo retrieve available voices, see: [Get Voices](/api-reference/v2/pearlSettings/get-voices)\r\n            \r\nConstraints:\r\n- The voice language must be unique across agents in the same Pearl (no two agents can use voices from the same language).",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "AnalyticsApi": {
                "type": "object",
                "properties": {
                    "callsStatusOverview": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CallsStatusAnalyticsOverview"
                            }
                        ],
                        "description": "Provides an overview of call counts by status for the selected period.",
                        "nullable": true
                    },
                    "callsSentimentOverview": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CallsSentimentOverview"
                            }
                        ],
                        "description": "Provides an overview of call sentiment distribution for the selected period.",
                        "nullable": true
                    },
                    "callsStatusTimeLine": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CallsStatusTimeLine"
                        },
                        "description": "Provides the timeline of call statuses over time for the selected period.",
                        "nullable": true
                    },
                    "callsAverageTimeLine": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CallsAverageTimeLine"
                        },
                        "description": "Provides the timeline of average call duration over time for the selected period.",
                        "nullable": true
                    },
                    "callsCostTimeLine": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CallsCostTimeLine"
                        },
                        "description": "Provides the timeline of call cost over time for the selected period.",
                        "nullable": true
                    },
                    "callsPickupRateTimeLine": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CallsPickupRateTimeLine"
                        },
                        "description": "Provides the timeline of pickup rate over time for the selected period (outbound only).",
                        "nullable": true
                    },
                    "callsSuccessRateTimeLine": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CallsSuccessRateTimeLine"
                        },
                        "description": "Provides the timeline of success rate over time for the selected period.",
                        "nullable": true
                    },
                    "callLabelCount": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CallLabelCount"
                        },
                        "description": "Provides the distribution of labels applied to calls for the selected period.",
                        "nullable": true
                    },
                    "callEventsCounts": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CallEventsCount"
                            }
                        ],
                        "description": "Provides the total number of call events by event type for the selected period.",
                        "nullable": true
                    },
                    "callsByHourDayOfWeeks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CallsByHourDayOfWeek"
                        },
                        "description": "Provides call volume grouped by hour and day of week for the selected period.",
                        "nullable": true
                    },
                    "callType": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/eProjectType"
                            }
                        ],
[...]
