{
    "openapi": "3.0.1",
    "info": {
        "title": "NLPearl Client API",
        "description": "A sample API that demonstrates features in the OpenAPI specification",
        "version": "v2"
    },
    "servers": [
        {
            "url": "https://api.nlpearl.ai",
            "description": "Production Environement"
        }
    ],
    "paths": {
        "/v2/Account": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Account",
                "description": "Retrieves account details",
                "responses": {
                    "200": {
                        "description": "Account Information",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/Users": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Users",
                "description": "Retrieves the list of users for the account",
                "responses": {
                    "200": {
                        "description": "users list",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserListViewApi"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserListViewApi"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserListViewApi"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/PhoneNumbers": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Phone Numbers",
                "description": "Retrieves all active phone numbers of the account.",
                "responses": {
                    "200": {
                        "description": "The list of active phone numbers for the account.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ClientPhoneNumberViewApi"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ClientPhoneNumberViewApi"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ClientPhoneNumberViewApi"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/TextChannels": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Text Channels",
                "description": "Retrieves the text channels available on the account (for example SMS-capable numbers or WhatsApp accounts). Use a returned channelId as the TextChannelId of the inbound/outbound settings when creating or updating a text Pearl.",
                "responses": {
                    "200": {
                        "description": "The list of text channels for the account.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TextChannelViewApi"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TextChannelViewApi"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TextChannelViewApi"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/Voices": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Voices",
                "description": "Retrieves the available voices grouped by language.",
                "responses": {
                    "200": {
                        "description": "The list of available voices grouped by language.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LanguageVoicesViewApi"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LanguageVoicesViewApi"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LanguageVoicesViewApi"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/AuditLog": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Get Audit Log",
                "description": "Retrieves the audit log.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AuditLogAPIRequest"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AuditLogAPIRequest"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AuditLogAPIRequest"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The list of audit log.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AuditLogView"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AuditLogView"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AuditLogView"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/Blacklist/Search": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Search Blacklist",
                "description": "Retrieves the paginated blacklist phone numbers of the account.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/BlackListTableSearchApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/BlackListTableSearchApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/BlackListTableSearchApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The paginated list of blacklist phone numbers.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistedPhoneApiViewTableSearchResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistedPhoneApiViewTableSearchResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistedPhoneApiViewTableSearchResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/Blacklist": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Add Phone Numbers To Blacklist",
                "description": "Adds one or more phone numbers to the account blacklist.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddRemoveNumbersToBlacklistRequest"
                                    }
                                ],
                                "description": "Request to add or remove phone numbers or prefixes from the blacklist.\r\n            \r\nPhoneNumbers:\r\n- Can contain full phone numbers (e.g. +1234567890).\r\n- Can also contain prefixes to block a range of numbers (e.g. +41 for Switzerland or +41837 for a specific range).\r\n- Maximum length per entry: 25 characters.\r\n- Duplicates in the list are not allowed."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddRemoveNumbersToBlacklistRequest"
                                    }
                                ],
                                "description": "Request to add or remove phone numbers or prefixes from the blacklist.\r\n            \r\nPhoneNumbers:\r\n- Can contain full phone numbers (e.g. +1234567890).\r\n- Can also contain prefixes to block a range of numbers (e.g. +41 for Switzerland or +41837 for a specific range).\r\n- Maximum length per entry: 25 characters.\r\n- Duplicates in the list are not allowed."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddRemoveNumbersToBlacklistRequest"
                                    }
                                ],
                                "description": "Request to add or remove phone numbers or prefixes from the blacklist.\r\n            \r\nPhoneNumbers:\r\n- Can contain full phone numbers (e.g. +1234567890).\r\n- Can also contain prefixes to block a range of numbers (e.g. +41 for Switzerland or +41837 for a specific range).\r\n- Maximum length per entry: 25 characters.\r\n- Duplicates in the list are not allowed."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The result of the add operation.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Account/Blacklist/Remove": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Remove Phone Numbers From Blacklist",
                "description": "Removes one or more phone numbers from the account blacklist.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddRemoveNumbersToBlacklistRequest"
                                    }
                                ],
                                "description": "Request to add or remove phone numbers or prefixes from the blacklist.\r\n            \r\nPhoneNumbers:\r\n- Can contain full phone numbers (e.g. +1234567890).\r\n- Can also contain prefixes to block a range of numbers (e.g. +41 for Switzerland or +41837 for a specific range).\r\n- Maximum length per entry: 25 characters.\r\n- Duplicates in the list are not allowed."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddRemoveNumbersToBlacklistRequest"
                                    }
                                ],
                                "description": "Request to add or remove phone numbers or prefixes from the blacklist.\r\n            \r\nPhoneNumbers:\r\n- Can contain full phone numbers (e.g. +1234567890).\r\n- Can also contain prefixes to block a range of numbers (e.g. +41 for Switzerland or +41837 for a specific range).\r\n- Maximum length per entry: 25 characters.\r\n- Duplicates in the list are not allowed."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddRemoveNumbersToBlacklistRequest"
                                    }
                                ],
                                "description": "Request to add or remove phone numbers or prefixes from the blacklist.\r\n            \r\nPhoneNumbers:\r\n- Can contain full phone numbers (e.g. +1234567890).\r\n- Can also contain prefixes to block a range of numbers (e.g. +41 for Switzerland or +41837 for a specific range).\r\n- Maximum length per entry: 25 characters.\r\n- Duplicates in the list are not allowed."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The result of the remove operation.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Call/{callId}": {
            "get": {
                "tags": [
                    "Call"
                ],
                "summary": "Get Call",
                "description": "Retrieves all the information about a call",
                "parameters": [
                    {
                        "name": "callId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Call information",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Call": {
            "delete": {
                "tags": [
                    "Call"
                ],
                "summary": "Delete Calls",
                "description": "Deletes one or more calls",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteCallsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object used to delete one or more calls."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteCallsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object used to delete one or more calls."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteCallsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object used to delete one or more calls."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a boolean indicating if the deletion was successful.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Lead": {
            "post": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Add Lead",
                "description": "Adds a new lead to a specified outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToAddApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToAddApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToAddApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Id of the added lead.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadToAddResponseApi"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadToAddResponseApi"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadToAddResponseApi"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Leads/Add": {
            "post": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Add Leads",
                "description": "Adds new leads to a specified outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadsToAddApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadsToAddApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadsToAddApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "All leads were added successfully.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request is invalid or some leads could not be added. The response may contain validation errors or a list of failed leads with their associated errors.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Lead/{leadId}": {
            "put": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Update Lead",
                "description": "Updates the details of an existing lead associated with a specific outbound campaign.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "leadId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToUpdateApi"
                                    }
                                ],
                                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToUpdateApi"
                                    }
                                ],
                                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadToUpdateApi"
                                    }
                                ],
                                "description": "Represents the data used to update an existing lead in an outbound campaign.\r\nAll fields are optional; only the provided values will be updated."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated lead is returned.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request is invalid or the data is malformed.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Get Lead",
                "description": "Retrieves details of a specific lead within a outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "leadId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific lead.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Leads": {
            "post": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Search Leads",
                "description": "Retrieves the leads associated with a specific outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadSearch"
                                    }
                                ],
                                "description": "Extends TableSearch to include specific search criteria for leads."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadSearch"
                                    }
                                ],
                                "description": "Extends TableSearch to include specific search criteria for leads."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/LeadSearch"
                                    }
                                ],
                                "description": "Extends TableSearch to include specific search criteria for leads."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of leads for the outbound.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadListApiViewTableSearchResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Delete Leads",
                "description": "Deletes one or more leads associated with a specific outbound campaign.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a boolean indicating if the deletion was successful.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Lead/External/{externalId}": {
            "get": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Get Lead Via External ID",
                "description": "Retrieves details of a specific lead within an outbound",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific lead.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Lead/PhoneNumber/{phoneNumber}": {
            "get": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Find Lead Via Phone Number",
                "description": "Retrieves details of a specific lead within an outbound via phone number",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific lead.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeadApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Outbound/{pearlId}/Leads/External": {
            "delete": {
                "tags": [
                    "Outbound"
                ],
                "summary": "Delete leads Via External",
                "description": "Deletes one or more leads associated with a specific outbound campaign.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DeleteLeadsbyExternalRequestApi"
                                    }
                                ],
                                "description": "Represents the request object for deleting one or more leads associated with an outbound campaign using external identifiers."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a boolean indicating if the deletion was successful.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl": {
            "get": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Pearls",
                "description": "Retrieves all Pearls",
                "responses": {
                    "200": {
                        "description": "List of all the pearls for the client.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ProjectListApiView"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ProjectListApiView"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ProjectListApiView"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Create Pearl",
                "description": "Creates a new Simple Pearl, driven by an opening sentence and a flow script. Provide exactly one channel: inbound settings OR outbound settings. To create a Pearl (node graph), use Create Phone Pearl or Create Text Pearl instead.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddProjectApiRequest"
                                    }
                                ],
                                "description": "Create Pearl request (simple mode): a Phone Pearl driven by an opening sentence and a flow script."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddProjectApiRequest"
                                    }
                                ],
                                "description": "Create Pearl request (simple mode): a Phone Pearl driven by an opening sentence and a flow script."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/AddProjectApiRequest"
                                    }
                                ],
                                "description": "Create Pearl request (simple mode): a Phone Pearl driven by an opening sentence and a flow script."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The ID of the newly created Pearl.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}": {
            "get": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Pearl",
                "description": "Retrieves a specific Pearl by its ID",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific Pearl.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Update Pearl",
                "description": "Updates the configuration of a Simple Pearl (name, pearl settings and variables). For Pearls, use Update Phone Pearl or Update Text Pearl instead.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "description": "The unique identifier of the Pearl.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The updated Pearl flow configuration.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/UpdateProjectApiRequest"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/UpdateProjectApiRequest"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/UpdateProjectApiRequest"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The Pearl flow was updated successfully.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Active": {
            "put": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Set Activity State",
                "description": "Run or Pause a specific Pearl",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/SetActiveRequest"
                                    }
                                ],
                                "description": "Defines the request structure for setting the active status of an entity."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/SetActiveRequest"
                                    }
                                ],
                                "description": "Defines the request structure for setting the active status of an entity."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/SetActiveRequest"
                                    }
                                ],
                                "description": "Defines the request structure for setting the active status of an entity."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The active state of the Pearl.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/eActivityStatus"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/eActivityStatus"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/eActivityStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Calls": {
            "post": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Calls",
                "description": "Retrieves the calls within a specific date range of a pearl",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsTableDateSearchApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsTableDateSearchApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsTableDateSearchApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calls within the specified date range for inbound.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallListApiViewTableSearchResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Calls/Bulk": {
            "post": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Calls Bulk",
                "description": "Retrieves calls within a date range like Get Calls, but lets the caller opt into additional fields (transcript, collected info, summary, recording, sentiment, credits, ...) via the Fields property. Only the requested fields are returned.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsBulkSearchApi"
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsBulkSearchApi"
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CallsBulkSearchApi"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Calls within the specified date range, including the requested fields.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallBulkApiViewTableSearchResult"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallBulkApiViewTableSearchResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallBulkApiViewTableSearchResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/OngoingCalls": {
            "get": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Get Ongoing Calls",
                "description": "Returns the number of active calls currently in progress for the specified Pearl. If the Pearl has inbound configurations, it also returns the number of calls currently in queue.",
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the specific inbound.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OngoingCallsApiView"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OngoingCallsApiView"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OngoingCallsApiView"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/Analytics": {
            "post": {
                "tags": [
                    "Pearl"
                ],
                "parameters": [
                    {
                        "name": "pearlId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DateSearch"
                                    }
                                ],
                                "description": "Represents a date range used to query analytics data."
                            }
                        },
                        "text/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DateSearch"
                                    }
                                ],
                                "description": "Represents a date range used to query analytics data."
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/DateSearch"
                                    }
                                ],
                                "description": "Represents a date range used to query analytics data."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns an object containing the analytics data for the specified outbound campaign.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsApi"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsApi"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyticsApi"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was invalid. Possible causes include a missing or malformed outbound ID, or errors in the search parameters.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationProblemDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/Pearl/{pearlId}/ResetMemory": {
            "put": {
                "tags": [
                    "Pearl"
                ],
                "summary": "Reset Customer Memory",
[...]
